<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Let's Eat-Da-Burger!</h1>
            <p>Manage your burger cravings!</p>
        </div>
    </div>
    <div class="row">
        <!--Burgers-->
        <div class="col-5">
            <ul>
                {{#each burgers}}
                    {{#unless devoured}}
                        {{> burgers/burger-block devoured=true}}
                        {{/unless}}
                {{/each}}
            </ul>
        </div>
        <div class="clearfix col-2"></div>
        <!--Devoured-->
        <div class="col-5">
            <ul>
                {{#each burgers}}
                    {{#if devoured}}
                        {{> burgers/burger-devoured}}
                        {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-6 form-group mx-auto mb-1">
            <h1 class="text-center">Yum Yum Burger</h1>
            <textarea class="form-control mb-1 inputBurger" rows="3"></textarea>
            <button class="add float-right">Add Burger</button>
        </div>
    </div>
</div>